@model Ingeniux.Runtime.ICMSEnvironment
@using Ingeniux.Runtime
@using System.Text.RegularExpressions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @{
        if (Request.QueryString["fullView"] != null)
        {
            if (Request.QueryString["fullView"] == "true")
            {
                Session["desktopView"] = "true";
            }
            else if (Request.QueryString["fullView"] == "false")
            {
                Session["desktopView"] = "false";
            }
            else
            {
                //do nothing
            }
        }
        if (Session["desktopView"] == null || Session["desktopView"] == "false")
        {
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        }
    }
    @{
        var page = Model as CMSPageRequest;
        if (!(page != null && page.IsPreview))
        {
            string protocol = Request.IsSecureConnection ? "https:" : "http:";
            <base href="@protocol//@Request.Url.Host/" />
        }
        string title = page.Element("PageTitle").Value;
        if (Request.QueryString["fullView"] != null)
        {
            if (Request.QueryString["fullView"] == "true")
            {
                title += " | Mobile desktop view";
            }
            else if (Request.QueryString["fullView"] == "false")
            {
                title += " | Mobile view";
            }
        }
    }
    <title>@title</title>
	@{
        Html.RenderPartial("Other/SEO", page, new ViewDataDictionary(title));
	}
    @if (page.IsPreview)
    {
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.magnific-popup/0.9.9/magnific-popup.css" />        
    }
    else
    {
        if (Session["desktopView"] == "true" && _Functions.isMobile())
        {
        <link rel="stylesheet" href="../../CSS/fullview.bootstrap.min.css" />
        }
        else
        {
        <link rel="stylesheet" href="../../CSS/bootstrap.min.css" />
        }
        <link rel="stylesheet" href="../../CSS/magnific-popup.css" />
    }
    @{
        foreach (ICMSElement csslnk in page.Elements("Page", "CSSLink"))
        {
        <link rel="Stylesheet" href="@_Functions.GetLinkURL(csslnk, Url)" />
        }
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    @{
        foreach (ICMSElement csslnk in page.Elements("Page", "JSLink"))
        {
        <script type="text/javascript" src="@_Functions.GetLinkURL(csslnk, Url)"></script>
        }

        ICMSElement addlHeadTagHtml = page.Element("AdditionalHeadTagHTML");
        if (!addlHeadTagHtml.Value.IsNullOrEmpty())
        {
        @Html.Raw(addlHeadTagHtml.Value)
        }

        var siteControl = page.Element("CSiteControl");
        if (siteControl != null)
        {
            //setting tier
            IEnumerable<ICMSCategory> categories = (siteControl as ICMSComponentRequest).Categories;
            var tier = "";
            foreach (var cat in categories)
            {
                if (cat.Path.StartsWith("Tier"))
                {
                    if (cat.Name == "Platinum")
                    {
                        tier = "Platinum";
                    }
                    else if (cat.Name == "Gold")
                    {
                        tier = "Gold";
                    }
                    break;
                }
                else
                {
                    tier = "Silver";
                }
            }
            Session["tier"] = tier;
        }
    }
    <script type="text/javascript">
        //Setting global variables
        @{
            var orgId = "";
            if (page.Element("OrgID") != null)
            {
                orgId = page.Element("OrgID").Value;
            }
            Session["orgId"] = orgId;
        }
        var orgId = "@orgId";        
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    @if (page.IsPreview)
    {       
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.magnific-popup/0.9.9/jquery.magnific-popup.min.js"></script>
    }
    else
    {
        <script type="text/javascript" src="../../Scripts/jquery.magnific-popup.min.js"></script>
    }
    <!-- start gift illustrator files -->
    <script type="text/javascript" src="//web.giftillustrator.com/Calculator/Production/scripts/jquery.noConflict.noniframe.js"></script>
    <script type="text/javascript" src="//web.giftillustrator.com/Calculator/Production/scripts/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="//web.giftillustrator.com/Calculator/Production/scripts/custom.fancybox.noniframe.js"></script>
    <link rel="stylesheet" type="text/css" href="//web.giftillustrator.com/Calculator/Production/css/jquery.fancybox-1.3.4.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="//web.giftillustrator.com/Calculator/Production/css/custom.fancybox.css" media="screen" />
    <!-- end gift illustrator files -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="@_Functions.GetPrebuiltPath("prebuilt/js/s_code.js", Url, page)"></script>
</head>
<body class="@page.RootElementName">
    <a href="@Request.Url#skip" class="sr-only">Skip to Content</a>
    @RenderBody()
    @if (siteControl != null)
    {
        Html.RenderPartial("Other/PEPCForm", page);
    }
    @{
        if (_Functions.isMobile())
        {
            var absUrl = HttpContext.Current.Request.Url.AbsolutePath;
            if (absUrl.Contains("?"))
            {
                absUrl += "&";
            }
            else
            {
                absUrl += "?";
            }
            var desktopUrl = absUrl + "fullView=true";
            var mobileUrl = absUrl + "fullView=false";
        <div class="stl-full-view-section" style="background: none repeat scroll 0 0 #FFFFFF; border-radius: 9px; font-weight: bold; margin: 15px auto; padding: 5px; text-align: center; width: 270px;">
            <a class="stl-desktop-view" href="@desktopUrl" style="text-decoration: underline;">Desktop View</a>
            <span>| </span>
            <a class="stl-mobile-view" href="@mobileUrl" style="text-decoration: underline;">Mobile View</a>
        </div>
        }        
    }
    <!-- SiteCatalyst code version: H.25.2.
    Copyright 1996-2012 Adobe, Inc. All Rights Reserved
    More info available at http://www.omniture.com -->
    <script language="JavaScript" type="text/javascript"><!--
    s.pageName = document.title
    s.server = window.location.host
    s.channel = "planned giving"
    s.campaign = s.getQueryParam('src')
    s.eVar16 = s.getQueryParam('formName')
    s.prop17 = orgId
    s.eVar27 = s.getQueryParam('et_firstName')
    s.eVar28 = s.getQueryParam('et_lastName')
    s.eVar29 = s.getQueryParam('et_email')
    s.eVar30 = s.getQueryParam('et_donorID')
    s.eVar31 = s.getQueryParam('et_subscriberKey')
    s.eVar32 = s.getQueryParam('et_misc1')
    s.eVar33 = s.getQueryParam('et_misc2')
    s.eVar34 = s.getQueryParam('et_misc3')
    s.eVar35 = s.getQueryParam('et_misc4')
    s.eVar36 = s.getQueryParam('et_misc5')
    s.eVar38 = s.getQueryParam('et_sendId')
    if (s.getQueryParam('featured') == "true") { s.events = s.apl(s.events, "event6", ",", 2); s.eVar18 = "Home Page Special Feature"; }
    var pageurl = location.href.replace(/^(?:\/\/|[^\/]+)*\//, "");
    var pagename = "";
    if (pageurl.indexOf("?") < 0) {
        if (pageurl.lastIndexOf("/") < 0) {
            pagename = pageurl;
        } else {
            pagename = pageurl.substr(pageurl.lastIndexOf("/") + 1);
        }
    } else {
        if (pageurl.lastIndexOf("/") < 0) {
            pagename = pageurl.substring(0, pageurl.indexOf("?"));
        } else {
            pagename = pageurl.substring(pageurl.lastIndexOf("/") + 1, pageurl.indexOf("?"));
        }
    }
    s.prop4 = pagename;
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t(); if (s_code) document.write(s_code)//--></script>
    <script language="JavaScript" type="text/javascript"><!--
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
    //--></script>
    <noscript>
        <img src="http://thesteltercompany.d1.sc.omtrdc.net/b/ss/tsc-msu-dev/1/H.25.2--NS/0"
            height="1" width="1" border="0" alt="" />
    </noscript>
    <!--/DO NOT REMOVE/-->
    <!-- End SiteCatalyst code version: H.25.2. -->
</body>
</html>
